---
title: "International Excellence Campus"
created_at: 2012-09-14 11:20:39 +0200
kind: portfolioEN
ci: "/2012-09-14-international-excellence-campus/"
published: true
---

%article
 %h2
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"} www.campusmoncloa.dreamhosters.com
 %p A joint initiative of the Complutense and the Polytechnic Universities aimed to become a reference in research, education and innovation.
 %p This site replaces the old one made entirely with Flash.
 .image 
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/3.png', :alt => "CEI Site Photo1", :data => {:fullsrc => '/images/work/3full.png'}}
 .image 
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/4.png', :alt => "CEI Site Photo2", :data => {:fullsrc => '/images/work/4full.png'}}
 .image 
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/5.png', :alt => "CEI Site Photo3", :data => {:fullsrc => '/images/work/5full.png'}}