---
title: "Deic Photo Gallery"
created_at: 2012-09-14 11:22:39 +0200
kind: portfolioEN
ci: "/2012-09-14-deic-photo-gallery/"
published: true
---

%article 
 %h2 
  %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"} www.galeriaucm.dreamhosters.com
 %p This site was born to fullfill our photographers needs.
 %p A simple design with PHP, jQuery and CSS3 technology.
 .image 
  %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
   %img{:src => '/images/work/1.png', :alt => "Deic Gallery Photo1", :data => {:fullsrc => '/images/work/1full.png'}}
 .image 
  %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
   %img{:src => '/images/work/2.png', :alt => "Deic Gallery Photo2", :data => {:fullsrc => '/images/work/2full.png'}}