---
title: "Deic Department Site"
created_at: 2012-09-14 11:19:39 +0200
kind: portfolioEN
ci: "/2012-09-14-deic-department-site/"
published: true
---

%article
 %h2 
  %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"} www.webdeic.dreamhosters.com
 %p DEIC site where you can find our projects, staff, goals, etc. 
 %p Was made to merge with the main UCM site.
 .image 
  %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/6.png', :alt => "DEIC Site Photo1", :data => {:fullsrc => '/images/work/6full.png'}}
 .image 
  %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/8.png', :alt => "DEIC Site Photo3", :data => {:fullsrc => '/images/work/8full.png'}}