---
title: "blog"
ci: "/blog/"
---

.blog
 %section
  - sorted_articles.each do |post|
   - if post[:published]
    %article
     %header
      %h1= link_to post[:title], post.path 
     %aside
      Publicado:
      = get_pretty_date(post)
     %section
      = post.compiled_content 
     - if post != sorted_articles.last
      %footer