---
title: "blog"
ci: "/blog/"
---

.blog
 %section
  - sorted_articles.each do |post|
   - if post[:published]
    %article
     %header
      %h1= link_to post[:title], post.path 
     %aside
      Publicado:
      = get_pretty_date(post)
     %section
      = post.compiled_content 
     - if post != sorted_articles.last
      %footer
 %section
 %script{:type => "text/javascript", :src => "http://mflickr.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=blue&default_tab=people&excerpt_length=200"}
 %a{:href => "http://disqus.com/"} 
  Powered by Disqus