---
title: "contacto"
ci: "/contact/"
---

.contact
 .vcard
  %dl
   %dt Name:
   %dd.main
    %span.fn Jose Luis
    %span.family-name Garcia Martinez
   %dt Email:
   %dd <a href="mailto:jose@jlgm.org" class="email" rel="me">jose@jlgm.org</a>
   %dt URL:
   %dd <a href="http://www.jlgm.org/" class="url" rel="me">http://www.jlgm.org/</a>
   %dt Twitter:
   %dd <a href="http://twitter.com/ersefa" class="url" rel="me">http://twitter.com/ersefa</a>
   %dt GitHub:
   %dd <a href="http://github.com/ersefa" class="url" rel="me">http://github.com/ersefa</a>

 #card
  #cardAbout
   <a type="text/directory" href="http://h2vx.com/vcf/www.ersefa.dreamhosters.com/contact/index.html"><img src="/images/vcard.png" alt="Donwload vCard" id="download" /></a>
   %h1 José Luis García Martínez
   %p#tagline Software and web developer
   %p Hola!, he añadido mi vcard por si te apetece añadirme como contacto, puedes descargarla haciendo click en la imagen. También puedes usar la cámara de tu móvil y capturar el código QR, mi vcard será añadida a tus contactos.
  
  #cardContact
   %h2 Ponte en contacto
   <img src="/images/qrcode.png" alt="vCard QRCode" id="qrcode"/><br />
   %p Si quieres contactarme para algún proyecto, colaboración, consejo o para cualquier otra cosa, enviame un correo a <a href="mailto:jose@jlgm.org">jose@jlgm.org</a>.<br /><br />
   %p También puedes seguir mis proyectos en <a href="http://github.com/ersefa">GitHub</a>.<br/>Y personalmente en <a href="http://twitter.com/ersefa">Twitter</a>.