---
title: "contacto"
ci: "/contact/"
---

.contact
 .vcard
  %dl
   %dt Name:
   %dd.main
    %span.fn Jose Luis
    %span.family-name Garcia Martinez
   %dt Email:
   %dd 
    %a.email{:href => "mailto:jose@jlgm.org", :rel => "me"} jose@jlgm.org
   %dt URL:
   %dd 
    %a.url{:href => "http://www.jlgm.org/", :rel => "me"} http://www.jlgm.org/
   %dt Twitter:
   %dd 
    %a.url{:href => "http://twitter.com/ersefa", :rel => "me"} http://twitter.com/ersefa
   %dt GitHub:
   %dd 
    %a.url{:href => "http://github.com/ersefa", :rel => "me"} http://github.com/ersefa</a>

 #card
  #cardAbout
   %a{:type => "text/directory", :href => "http://h2vx.com/vcf/www.ersefa.dreamhosters.com/contact/index.html"}
    %img#download{:src => "/images/vcard.png", :alt => "Donwload vCard"}
   %h1 José Luis García Martínez
   %p#tagline Software and web developer
   %p Hola!, he añadido mi vcard por si te apetece añadirme como contacto, puedes descargarla haciendo click en la imagen. También puedes usar la cámara de tu móvil y capturar el código QR, mi vcard será añadida a tus contactos.
  
  #cardContact
   %h2 Ponte en contacto
   %img#qrcode{:src => "/images/qrcode.png", :alt => "vCard QRCode"}
   %p 
    Si quieres contactarme para algún proyecto, colaboración, consejo o para cualquier otra cosa, enviame un correo a 
    %a{:href => "mailto:jose@jlgm.org"} jose@jlgm.org.
   %p 
    También puedes seguir mis proyectos en 
    %a{:href => "http://github.com/ersefa"} GitHub.
    Y personalmente en 
    %a{:href => "http://twitter.com/ersefa"} Twitter.