---
title: "curriculum"
ci: "/curriculum/"
---

.curriculum
 #cv-pdf  
  %a{:href => "/misc/joseLuisCVes.pdf"}
   %img{:src => "/images/pdf.png", :alt => "Curriculum en Español"}
 %section#summary 
  %h1 Resumen
  %p Desarrollador web junior tanto en Front-end como Back-end.
  %p Desarrollador junior Java.
 %section#skills 
  %h1 Habilidades
  %dl
   %dt Diseño
   %dd{:title => "Responsive web design"} Responsive web design
   %dd{:title => "Fluid grids"} Fluid grids
   %dd{:title => "Media queries"} Media queries
   %dd{:title => "Design of interfaces for apps and web based systems"} User Interface Design
   %dt Desarrolo Front-End
   %dd{:title => "Hyper Text Markup Language"} HTML5
   %dd{:title => "Cascading Style Sheets"} CSS3
   %dd{:title => "JavaScript"} JavaScript
   %dd{:title => "Javascript Library"} jQuery
   %dd{:title => "CoffeeScript"} CoffeeScript
   %dd{:title => "Backbone.js"} Backbone.js
   %dd{:title => "Node.js"} Node.js
   
   %dt Desarrollo Back-end
   %dd{:title => "Ruby on Rails"} Ruby on Rails
   %dd{:title => "Grails"} Grails
   %dd{:title => "Spring"} Spring
   %dd{:title => "Cucumber"} Cucumber
   %dd{:title => "RSpec"} RSpec      
   %dd{:title => "Heroku"} Heroku
   %dd{:title => "Engine Yard"} Engine Yard
   %dd{:title => "PHP"} PHP      
   
   %dt Lenguajes
   %dd{:title => "Java"} Java
   %dd{:title => "JavaScript"} JavaScript
   %dd{:title => "Ruby"} Ruby 
   %dd{:title => "Groovy"} Groovy
   %dd{:title => "PHP"} PHP 
   %dd{:title => "C/C++"} C/C++
   %dd{:title => "HTML"} HTML
   %dd{:title => "SQL"} SQL
   %dd{:title => "C#"} C#
   %dd{:title => "Pascal"} Pascal
   
   %dt Bases de Datos
   %dd{:title => "MySQL"} MySQL
   %dd{:title => "HyperSQL"} HyperSQL
   %dd{:title => "SQLite"} SQLite
   %dd{:title => "Hibernate"} Hibernate

   %dt Miscellanea
   %dd{:title => "Git"} Git
   %dd{:title => "CLI"} CLI
   %dd{:title => "jUnit"} jUnit
   %dd{:title => "Ant"} Ant
   %dd{:title => "OpenGL"} OpenGL
   %dd{:title => "Titanium"} Titanium

 %section#experience
  %h1 Experiencia Profesional
  %article
   %h1 Universidad Complutense de Madrid
   %h2 Desarollador Web
   %time.start{:datetime => "2011-01-01"} Julio 2011
   %span.end Presente
   %p Miembro del equipo encargado del desarrollo front–end para la página de “Campus de Excelencia Internacional” (colaboración UPM – UCM).
   %p Habilidades adquiridas en dicho proyecto:     
   %ul 
    %li PHP, MySQL and CSS3.
    %li Diseño web adaptativo (Adaptative & Responsive Web Design with Fluid Grid and Media Queries).
    %li Desarrollo de servicios web (SaaS) con Ruby on Rails, despliegue en Engine Yard y Heroku.
    %li Desarrollo de aplicaciones de escritorio utilizando Titanium Mobile Platform.
    %li Bases de Datos relacionales, PL/SQL utilizando Oracle, MySQL e HyperSQL.
  
  %article
   %h1 Universidad Complutense de Madrid
   %h2 Desarrollador Java
   %time.start{:datetime => "2011-01-01"} Julio 2011
   %span.end Presente
   %p Desarrollo de aplicaciones de gestión documental y procesamiento de datos en entorno Java para el departamento de imagen corporativa de la Universidad Complutense de Madrid
   %p Habilidades adquiridas en este periodo:     
   %ul 
    %li Desarrollo en Java.
    %li Eclipse and NetBeans IDEs.
    %li Metodologías ágiles utilizando pruebas unitarias con JUnit.
    %li Desarrollo en Swing para la interfaz de usuario.
    %li Sockets utilizando arquitectura cliente-servidor.
  
  %article
   %h1 Tecavi S.L. (Endesa)
   %h2 Técnico en Audiovisuales
   %time.start{:datetime => "2006-01-01"} Enero 2006
   %time.end{:datetime => "2009-12-30"} Diciembre 2009
   %p Implementación y despliegue de redes.
   %p Instalación de equipo audiovisual en entornos profesionales.     

 %section#education
  %h1 Educación
  %article
   %h1 Ingeniero Técnico en Informática de Sistemas
   %p Universidad Complutense de Madrid.
 
 %section#studies
  %h1 Formación Complementaria
  %article
   %h1 Software as a Service usando Ruby on Rails
   %p Universidad de California, Berkeley, Coursera Platform.
   %time.end{:datetime => "2012-01-01"} 2012
  
  %article
   %h1 Design and Analysis of Algorithms
   %p Universidad de Stanford, Coursera Platform.
   %time.end{:datetime => "2012-01-01"} 2012
  
  %article
   %h1 Seminario en Tecnologías Web
   %p Universidad Complutense de Madrid.
   %time.end{:datetime => "2010-01-01"} 2010

  %article
   %h1 Seminario OpenGL
   %p Universidad Complutense de Madrid.
   %time.end{:datetime => "2009-01-01"} 2009

  %article
   %h1 Seminario en despliegue de Redes
   %p Universidad Complutense de Madrid.
   %time.end{:datetime => "2009-01-01"} 2009

  %article
   %h1 Data Storage Protection Systems
   %p EMC2
   %time.end{:datetime => "2007-01-01"} 2007

 %section#languages
  %h1 Idiomas
  %article    
   %h1 Español        
   %ul 
    %li Nativo

  %article    
   %h1 Inglés        
   %ul 
    %li C1 CEFR (Common European Framework of Reference)
    %li First Certificate, Cambridge University (FCE)

 %section#hobbies
  %h1 Hobbies
  %ul 
   %li
    %a{:href => "https://picasaweb.google.com/106802193440339874271", :target => "_blank", :title => "My Picasa Set"}Fotografía
   %li Viajar
   %li Videojuegos
   %li Tomar unas cervezas con los amigos

 %section#miscellaneous
  %h1 Miscelánea
  %ul 
   %li Coordinador Microsoft .NET, Universidad Complutense de Madrid.
   %li Carnet de conducir: B.