---
title: "error"
ci: "/error/"
---

.error
 %section 
  %h1 PÁGINA NO ENCONTRADA
  %p Lo siento, la página que buscas no ha podido ser encontrada.<br /> Puedes ser que hayas seguido un enlace a una página que ya no se encuentra en nuestro servidor.<br /> Por favor <a href="/en/contact/index.html">contacta </a>conmigo si piensas que se trata de un error.
 
 %section 	
  %p Mientras tanto:
  %ul
   %li Vuelve a la página de <a href="/en/index.html">inicio</a>.
   %li Visita mi <a href="/en/index.html">curriculum</a>.
   %li <a href="/en/contact/index.html">Contacta</a> conmigo 

	
 %section 
  %p Todo el contenido ha sido creado por José Luis García Martínez exceptuando aquellas partes donde se especifica lo contrario.<br/> <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons Attribution-Noncommercial-Share Alike 3.0 License">Algunos derechos reservados.</a>