---
title: "error"
ci: "/error/"
---

.error
 %section 
  %h1 PÁGINA NO ENCONTRADA
  %p Lo siento, la página que buscas no ha podido ser encontrada.
  %p Puedes ser que hayas seguido un enlace a una página que ya no se encuentra en nuestro servidor.
  %p 
   Por favor 
   = link_to('contacta', '/es/contacto/') 
   conmigo si piensas que se trata de un error.
 
 %section 	
  %p Mientras tanto:
  %ul
   %li 
    Vuelve a la página de 
    = link_to('inicio', '/es/') 
   %li 
    Visita mi 
    = link_to('curriculum', '/es/curriculum/') 
   %li 
    = link_to('Contacta', '/es/contacto/') 
    conmigo 

	
 %section 
  %p Todo el contenido ha sido creado por José Luis García Martínez exceptuando aquellas partes donde se especifica lo contrario.
  %p 
   %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/", :title => "Creative Commons Attribution-Noncommercial-Share Alike 3.0 License"} Algunos derechos reservados.