---
title: "inicio"
ci: "/"
---

.home
 %section
  %h1 Bienvenido
  %p Bienvenido a mi página personal.
  %p Soy José Luis García y soy desarrollador web.<br /> También soy desarrollador junior en Java.

 %section
  %h1 Desarrollo Web
  %section
   %h1 Conocimientos front-end...
   %ul
    %li Conocimientos en HTML5, CSS3, JavaScript, jQuery, CoffeeScript, Diseño web adaptativo...
    %li Alguien que puede lidiar con los aspectos técnicos de la página y que esta sea visible y atractiva en cualquier dispositivo.

  %section
   %h1 Conocimientos back-end...
   %ul 
    %li Conocimientos en Rails, nanoc, PHP, RESTfullness design...
    %li Alguien que puede construir tu página, tu aplicación web o tu API utilizando una semántica actual y con código limpio y reutilizable.

 %section
  %h1 Desarrollo Software
  %section
   %h1 Desarrollo Java
   %ul
    %li Eclipse and NetBeans IDEs.
    %li Metodologías ágiles utilizando pruebas unitarias con JUnit.
    %li Desarrollo en Swing para la interfaz de usuario.
    %li Sockets utilizando arquitectura cliente-servidor.
    %li Bases de Datos relacionales utilizando Oracle, MySQL e HyperSQL.