---
title: "Proyectos"
ci: "/work/"
---

.work
 %section
  %h1 Proyectos
  %p En esta sección puedes ver alguno de los proyectos que he llevado a cabo.
  %p Algunas de estas páginas ya no se encuentran disponibles actualmente pero podrás navegar en ellas pues han sido archivadas. Sin embargo, no se garantiza el funcionamiento de todos los enlaces, especialmente los externos. Puede que algunos contenidos hayan sido eliminados o modificados así como estilos desactivados para cumplir con las licencias existentes.

 %section
  %article 
   %h1 Galería de fotos DEIC
   %h2 
    %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"} www.galeriaucm.dreamhosters.com
   %p Galería de fotos para el Departamento de Imagen de la Universidad Complutense de Madrid (DEIC UCM). 
   %p Esta página nace para cubrir la necesidad de mostrar al público el trabajo realizado por nuestros fotógrafos. Tiene un diseño sencillo y utiliza tecnologías como PHP, jQuery y CSS3 entre otras.
   .image 
    %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
     %img{:src => '/images/work/1.png', :alt => "Deic Gallery Photo1"}
   .image 
    %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
     %img{:src => '/images/work/2.png', :alt => "Deic Gallery Photo2"}
  
  %article  
   %h1 Campus de Excelencia Internacional
   %h2
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"} www.campusmoncloa.dreamhosters.com
   %p El Campus de Excelencia Internacional es un acuerdo entre las universidades Complutense y Politécnica de Madrid para gestionar un campus común bajo unos criterios de calidad europea.
   %p Esta página fue creada para substituir a su equivalente en Flash y aportar las posibilidades que nos da HTML.
   .image 
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/3.png', :alt => "CEI Site Photo1"}
   .image 
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/4.png', :alt => "CEI Site Photo2"}
   .image 
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/5.png', :alt => "CEI Site Photo3"}
  
  %article  
   %h1 Página corporativa DEIC
   %h2 
    %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"} www.webdeic.dreamhosters.com
   %p Es la página corporativa del Departamento de Estudios e Imagen Corporativa, respeta los estilos de la página principal de la UCM
   .image 
    %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/6.png', :alt => "DEIC Site Photo1"}
   .image 
    %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/8.png', :alt => "DEIC Site Photo3"}