---
title: "Galeria de Fotos DEIC"
created_at: 2012-09-14 11:22:39 +0200
kind: portfolioES
ci: "/2012-09-14-deic-photo-gallery/"
published: true
---

%article
 %h2 
  %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"} www.galeriaucm.dreamhosters.com
  %p Galería de fotos para el Departamento de Imagen de la Universidad Complutense de Madrid (DEIC UCM). 
  %p Esta página nace para cubrir la necesidad de mostrar al público el trabajo realizado por nuestros fotógrafos. Tiene un diseño sencillo y utiliza tecnologías como PHP, jQuery y CSS3 entre otras.
  .image 
   %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
    %img{:src => '/images/work/1.png', :alt => "Deic Gallery Photo1"}
  .image 
   %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
    %img{:src => '/images/work/2.png', :alt => "Deic Gallery Photo2"}
