---
title: "Campus de Excelencia Internacional"
created_at: 2012-09-14 11:20:39 +0200
kind: portfolioES
ci: "/2012-09-14-international-excellence-campus/"
published: true
---

%article  
 %h2
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"} www.campusmoncloa.dreamhosters.com
 %p El Campus de Excelencia Internacional es un acuerdo entre las universidades Complutense y Politécnica de Madrid para gestionar un campus común bajo unos criterios de calidad europea.
 %p Esta página fue creada para substituir a su equivalente en Flash y aportar las posibilidades que nos da HTML.
 .image 
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/3.png', :alt => "CEI Site Photo1"}
 .image 
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/4.png', :alt => "CEI Site Photo2"}
 .image 
  %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/5.png', :alt => "CEI Site Photo3"}
