---
title: "Página Corporativa DEIC"
created_at: 2012-09-14 11:19:39 +0200
kind: portfolioES
ci: "/2012-09-14-deic-department-site/"
published: true
---

%article  
 %h2 
  %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"} www.webdeic.dreamhosters.com
 %p Es la página corporativa del Departamento de Estudios e Imagen Corporativa, respeta los estilos de la página principal de la UCM
 .image 
  %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/6.png', :alt => "DEIC Site Photo1"}
 .image 
  %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
   %img{:src => '/images/work/8.png', :alt => "DEIC Site Photo3"}