%ul
 %li 
  %img{:src => "/images/mail.png", :alt => "Mail"}
  %a{:href => "mailto:jose@jlgm.org"}jose@jlgm.org
 %li 
  %img{:src => "/images/phone.png", :alt => "Phone"} (+34) 654 527 380
 %li 
  %img{:src => "/images/world.png", :alt => "Location"} Madrid, Spain (ES)
 %li
  %img{:src => "/images/git.png", :alt => "Github"}
  %a{:href => "https://github.com/ersefa", :rel => 'external'} github.com/ersefa