---
title: "curriculum"
ci: "/curriculum/"
---

.curriculum
 #cv-pdf  
  %a{:href => "/misc/joseLuisCVen.pdf"}
   %img{:src => "/images/pdf.png", :alt => "English Curriculum"}
 
 %section#summary 
  %h1 Summary
  %p Front and Back-end junior developer.
  %p Java junior developer.
 
 %section#skills 
  %h1 Skills
  %dl
   %dt Design
   %dd{:title => "Responsive web design"} Responsive web design
   %dd{:title => "Fluid grids"} Fluid grids
   %dd{:title => "Media queries"} Media queries
   %dd{:title => "Design of interfaces for apps and web based systems"} User Interface Design
   
   %dt Front-End
   %dd{:title => "Hyper Text Markup Language"} HTML5
   %dd{:title => "Cascading Style Sheets"} CSS3
   %dd{:title => "JavaScript"} JavaScript
   %dd{:title => "Javascript Library"} jQuery
   %dd{:title => "CoffeeScript"} CoffeeScript
   %dd{:title => "Backbone.js"} Backbone.js
   %dd{:title => "Node.js"} Node.js
   
   %dt Back-end
   %dd{:title => "Ruby on Rails"} Ruby on Rails
   %dd{:title => "Grails"} Grails
   %dd{:title => "Spring"} Spring
   %dd{:title => "Cucumber"} Cucumber
   %dd{:title => "RSpec"} RSpec      
   %dd{:title => "Heroku"} Heroku
   %dd{:title => "Engine Yard"} Engine Yard
   %dd{:title => "PHP"} PHP      
   
   %dt Languages
   %dd{:title => "Java"} Java
   %dd{:title => "JavaScript"} JavaScript
   %dd{:title => "Ruby"} Ruby 
   %dd{:title => "Groovy"} Groovy
   %dd{:title => "PHP"} PHP 
   %dd{:title => "C/C++"} C/C++
   %dd{:title => "HTML"} HTML
   %dd{:title => "SQL"} SQL
   %dd{:title => "C#"} C#
   %dd{:title => "Pascal"} Pascal
   
   %dt Data Base
   %dd{:title => "MySQL"} MySQL
   %dd{:title => "HyperSQL"} HyperSQL
   %dd{:title => "SQLite"} SQLite
   %dd{:title => "Hibernate"} Hibernate

   %dt Miscellaneous
   %dd{:title => "Git"} Git
   %dd{:title => "CLI"} CLI
   %dd{:title => "jUnit"} jUnit
   %dd{:title => "Ant"} Ant
   %dd{:title => "OpenGL"} OpenGL
   %dd{:title => "Titanium"} Titanium

 %section#experience
  %h1 Work Experience
  %article
   %h1 Universidad Complutense de Madrid
   %h2 Web Developer
   %time.start{:datetime => "2011-01-01"} July 2011
   %span.end Present
   %p I was part of a team working in the front-end development of the website “Campus of International Excellence”, an UCM & UPM joint initiative.
   %p Skills learned during the development:
   %ul 
    %li PHP, MySQL and CSS3 capabilities.
    %li Research in Responsive Web Design (Fluid Grid, Media Queries).
    %li Researching on my own SaaS development with Ruby on Rails, and deploying applications in Engine Yard and Heroku.
    %li Desktop application development using Titanium Mobile Platform.
    %li Relational DDBB and PL/SQL using Oracle, MySQL and HyperSQL.
  
  %article
   %h1 Universidad Complutense de Madrid
   %h2 Java Developer
   %time.start{:datetime => "2011-01-01"} July 2011
   %span.end Present
   %p I worked on content management software for the UCM corporate image department using Java.
   %p Skills learned during the development:
   %ul 
    %li Testing with JUnit using agile methodology.
    %li Swing development for the user interface.
    %li Sockets in client-server architecture.
    %li Eclipse and NetBeans IDE.
    %li Relational DDBB and PL/SQL using Oracle, MySQL and HyperSQL.
  
  %article
   %h1 Tecavi S.L. (Endesa)
   %h2 Audio Visual Technician
   %time.start{:datetime => "2006-01-01"} January 2006
   %time.end{:datetime => "2009-12-30"} December 2009
   %p Network planning and implementation.
   %p Multimedia equipment and video streaming setup.

 %section#education
  %h1 Education
  %article
   %h1 Engineer´s Degree in Computer Systems.
   %p Universidad Complutense de Madrid.
 
 %section#studies
  %h1 Other studies
  %article
   %h1 Software as a Service using Ruby on Rails
   %p California University, Berkeley, Coursera Platform.
   %time.end{:datetime => "2012-01-01"} 2012
  
  %article
   %h1 Design and Analysis of Algorithms
   %p Stanford University, Coursera Platform.
   %time.end{:datetime => "2012-01-01"} 2012
  
  %article
   %h1 Web Technologies Seminary<
   %p Universidad Complutense de Madrid.
   %time.end{:datetime => "2010-01-01"} 2010

  %article
   %h1 OpenGL Seminary
   %p Universidad Complutense de Madrid.
   %time.end{:datetime => "2009-01-01"} 2009

  %article
   %h1 Network Deployment Seminary
   %p Universidad Complutense de Madrid.
   %time.end{:datetime => "2009-01-01"} 2009

  %article
   %h1 Data Storage Protection Systems
   %p EMC2
   %time.end{:datetime => "2007-01-01"} 2007

 %section#languages
  %h1 Languages
  %article    
   %h1 Spanish        
   %ul 
    %li Native

  %article    
   %h1 English        
   %ul 
    %li C1 CEFR (Common European Framework of Reference)
    %li First Certificate, Cambridge University (FCE)

 %section#hobbies
  %h1 Hobbies
  %ul 
   %li 
    %a{:href => "https://picasaweb.google.com/106802193440339874271", :target => "_blank", :title => "My Picasa Set"}Photography
   %li Travel
   %li Gaming
   %li Hanging out with friends

 %section#miscellaneous
  %h1 Miscellaneous
  %ul 
   %li .NET Microsoft Coordinator, Universidad Complutense de Madrid.
   %li Spanish Driving License: B.