---
title: "home"
ci: "/"
---

.home
 %section
  %h1 Welcome
  %p Welcome to my personal site
  %p My name is José Luis García Martínez and I have skills both in front and back-end development.
  %p I'm also a Java Jr. software developer.

 %section
  %h1 Web Development
  %section
   %h1 Front-end skills
   %ul
    %li HTML5, CSS3, JavaScript, jQuery, CoffeeScript, Responsive and Adaptative Web Design...
    %li Someone who deals with the technical aspects of a site's design

  %section
   %h1 Back-end skills
   %ul 
    %li Rails, nanoc, PHP, RESTfullness...
    %li Someone who can build a website or application or API

 %section
  %h1 Software Development
  %section
   %h1 Java Development
   %ul
    %li Eclipse and NetBeans IDEs.
    %li TDD, jUnit testing using agile methodology.<
    %li Users interface with Swing.
    %li Sockets in client-server architecture.
    %li Relational DDBB and PL/SQL using Oracle, MySQL and HyperSQL.