---
title: "portfolio"
ci: "/portfolio/"
---

.portfolio
 %section
  %h1 My work
  %p In this section you can explore my work.
  %p Some of the following sites are not longer available but you can explore them anyway. Some links may be broken or content and styles removed for license reasons.

 - sorted_portfoliosEN.each do |portfolio| 
  - if portfolio[:published]
   %section
    %article
     %header
      %h1= link_to portfolio[:title], portfolio.path 
     %section
      = portfolio.compiled_content