---
title: "portfolio"
ci: "/portfolio/"
---

.portfolio
 %section
  %h1 Proyectos
  %p En esta sección puedes ver alguno de los proyectos que he llevado a cabo.
  %p Algunas de estas páginas ya no se encuentran disponibles actualmente pero podrás navegar en ellas pues han sido archivadas. Sin embargo, no se garantiza el funcionamiento de todos los enlaces, especialmente los externos. Puede que algunos contenidos hayan sido eliminados o modificados así como estilos desactivados para cumplir con las licencias existentes.

 - sorted_portfoliosEN.each do |portfolio| 
  - if portfolio[:published]
   %section
    %article
     %header
      %h2= link_to portfolio[:title], portfolio.path 
     %section
      = portfolio.compiled_content