---
title: "My work"
ci: "/work/"
---

.work
 %section
  %h1 My work
  %p In this section you can explore my work.
  %p Some of the following sites are not longer available but you can explore them anyway. Some links may be broken or content and styles removed for license reasons.
 
 %section 
  %article 
   %h1 DEIC photo gallery
   %h2 
    %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"} www.galeriaucm.dreamhosters.com
   %p This site was born to fullfill our photographers needs.
   %p A simple design with PHP, jQuery and CSS3 technology.
   .image 
    %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
     %img{:src => '/images/work/1.png', :alt => "Deic Gallery Photo1", :data => {:fullsrc => '/images/work/1full.png'}}
   .image 
    %a{:href => 'http://www.ucm.es/info/deic/galeria/es/index/index.php', :target => "_blank"}
     %img{:src => '/images/work/2.png', :alt => "Deic Gallery Photo2", :data => {:fullsrc => '/images/work/2full.png'}}

  %article  
   %h1 International Excellence Campus
   %h2
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"} www.campusmoncloa.dreamhosters.com
   %p A joint initiative of the Complutense and the Polytechnic Universities aimed to become a reference in research, education and innovation.
   %p This site replaces the old one made entirely with Flash.
   .image 
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/3.png', :alt => "CEI Site Photo1", :data => {:fullsrc => '/images/work/3full.png'}}
   .image 
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/4.png', :alt => "CEI Site Photo2", :data => {:fullsrc => '/images/work/4full.png'}}
   .image 
    %a{:href => 'http://www.campusmoncloa.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/5.png', :alt => "CEI Site Photo3", :data => {:fullsrc => '/images/work/5full.png'}}
  
  %article  
   %h1 DEIC department site
   %h2 
    %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"} www.webdeic.dreamhosters.com
   %p DEIC site where you can find our projects, staff, goals, etc. 
   %p Was made to merge with the main UCM site.
   .image 
    %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/6.png', :alt => "DEIC Site Photo1", :data => {:fullsrc => '/images/work/6full.png'}}
   .image 
    %a{:href => 'http://www.webdeic.dreamhosters.com', :target => "_blank"}
     %img{:src => '/images/work/8.png', :alt => "DEIC Site Photo3", :data => {:fullsrc => '/images/work/8full.png'}}